<div class="container">
  <h1>
    {{ title.split("-").join(" ") }}
  </h1>

  <form class="card" [formGroup]="form" (ngSubmit)="submit()">
    <div class="form-control">
      <label>Email</label>
      <input type="text" placeholder="Email" formControlName="email" />
      <div
        *ngIf="form.get('email')?.invalid && form.get('email')?.touched"
        class="validation"
      >
        <small *ngIf="form.get('email')?.errors?.['required']">
          is empty flied</small
        >
        <small *ngIf="form.get('email')?.errors?.['email']"> isn't email</small>
      </div>
    </div>

    <div class="form-control">
      <label>Password</label>
      <input
        type="password"
        placeholder="Password"
        formControlName="password"
      />

      <!-- <pre>{{ form.get("password")?.errors | json }}</pre> -->
      <!-- <pre>{{ form.get("password")?.invalid | json }}</pre> -->
      <!-- <pre>{{ form.get("password")?.errors?.['minLength'] | json }}</pre> -->

      <div
        *ngIf="form.get('password')?.invalid && form.get('password')?.touched"
        class="validation"
      >
        <small *ngIf="form.get('password')?.hasError('required')">
          is empty flied
        </small>
        <small *ngIf="form.get('password')?.errors?.['minLength'] !== null">
          min length
        </small>
      </div>
    </div>

    <div class="card" formGroupName="address">
      <h2>Address</h2>

      <div class="form-control">
        <label>Country</label>

        <select formControlName="country">
          <option value="ua">Ukraine</option>
          <option value="pl">Poland</option>
          <option value="by">Belarus</option>
        </select>
      </div>

      <div class="form-control">
        <input type="text" formControlName="city" placeholder="enter city" />
      </div>

      <button class="btn" type="button" (click)="setCapitalCity()">
        Capital city
      </button>
    </div>

    <div class="card" formGroupName="skills">
      <h2>Skills</h2>
      <button class="btn" type="button" (click)="addSkill()">Add skill</button>
      <div
        class="form-control"
        *ngFor="let control of form.get('skills')?.['controls']; let indx = index"
      >
        <label>skill {{ indx }}</label>
        <input type="text" [formControlName]="indx" />
      </div>
    </div>

    <button class="btn" type="submit" [disabled]="form.invalid">Submit</button>
  </form>
</div>
