<span>
  <button *ngIf="toggle" type="button" class="green" (click)="toggle = !toggle">
    ngIf Add
  </button>
  <button *ngIf="!toggle" type="button" class="red" (click)="toggle = !toggle">
    ngIf Remove
  </button>
</span>
<span>
  <button
    *ngIf="toggle2; else redBtn"
    type="button"
    class="green"
    (click)="toggle2 = !toggle2"
  >
    ngIf Else Add
  </button>
  <ng-template #redBtn>
    <button type="button" class="red" (click)="toggle2 = !toggle2">
      ngIf Else Remove
    </button>
  </ng-template>
</span>
